/* -------media queries for container ------------- */
@media only screen and (max-width: 1150px) {
  .container {
    max-width: 1080px;
 
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 920px;
    
  }
}
@media only screen and (max-width: 700px) {
  .container {
    max-width: 600px;
   
  }
}
@media only screen and (max-width: 992px) {
  header .container .navbar {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .mobile-header .mob-nav {
    display: none;
  }
}

/* --------Media queries for navbar----------- */
@media only screen and (max-width: 992px) {
  .mob-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .mob-nav a i {
    font-size: 40px;
    color: #29293a;
  }
  .mob-nav img {
    max-width: 150px;
    margin-left: 15px;
  }
}

/* ----media queries for video background-------- */
@media (max-aspect-ratio: 16/9) {
  header video {
    height: 100%;
    width: auto;
  }
}
@media (min-aspect-ratio: 16/9) {
  header video {
    height: auto;
    width: 100%;
  }
}

/* --------Media queries for hero-section----------- */
@media only screen and (max-width: 992px) {
  .hero-section {
    transform: none;
    padding-top: 80px;
  }
  .hero-section h1 {
    font-size: 25px;
    text-align: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  .hero-section .hero-content form {
    flex-direction: column;
    gap: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .social-links {
    flex-direction: row;
    margin-left: 10px;
    position: unset;
    margin-top: 50px;
    justify-content: center;
  }
}

/* ----media queries for mobile -------- */
@media only screen and (max-width: 660px) {
  .hero-section {
    padding-top: 80px;
  }
  .hero-section h1 {
    font-size: 25px;
  }
  .hero-section .hero-content form {
    margin-top: 15px;
    gap: 10px;
  }
}
.hero-section .hero-content aside {
  margin-top: 50px;
}
.hero-section .hero-content form p,
.hero-section .hero-content form button {
  padding: 10px 15px;
}
.hero-section .hero-content form button {
  font-size: 18px;
}

@media only screen and (max-width: 450px) {
  .mob-nav a i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .hero-section .hero-content form {
    gap: 20px;
  }
}